@charset "UTF-8";
* {
  padding: 0;
  margin-left: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  margin: 0;
  height: 0;
  font-family: "Arial MT";
}

h2 {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1030px;
}

.header {
  width: 100%;
  background-color: #00122f;
  padding: 0 15px;
  height: 55px;
  margin: 0px 0px 40px 0px;
}

.header__text {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  letter-spacing: -0.32px;
  text-decoration: underline;
}

.header__time {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.32px;
  float: right;
}

.top-menu {
  margin: 0px 0px 42px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-menu__logo {
  margin: 0px 8px 0px 0px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.top-menu__title {
  margin: 0px 62px 0px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.city__text {
  margin: 0px 9px 0px 0px;
  /* Style for "Москва" */
  color: #448ccb;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  letter-spacing: -0.32px;
  border-bottom: 2px dotted #448ccb;
}

.city__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px 50px 0px 0px;
}

.top-menu__date {
  height: 16px;
  color: #91919f;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

.top-menu__time {
  display: block;
  color: #91919f;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

.top-menu__time::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("/img/nav/clock.png") 0 0px no-repeat;
  margin: 0px 10px 0px 0px;
  vertical-align: middle;
}

.top-menu__weather {
  display: block;
  height: 16px;
  color: #91919f;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

.top-menu__weather::before {
  content: '';
  display: inline-block;
  width: 29px;
  height: 21px;
  background: url("/img/nav/cloudy.png") 0 -4px no-repeat;
  margin: 0px 10px 0px 0px;
  vertical-align: middle;
}

.search {
  position: relative;
}

.search__textbox {
  width: 320px;
  height: 45px;
  border-radius: 23px;
  background-color: #ebebeb;
  opacity: 0.6;
}

.search__icon {
  position: absolute;
  right: 15px;
  top: 15px;
}

.main__menu {
  margin: 0px 0px 32px 0px;
}

.main__menu li {
  display: inline-block;
}

.main__menu a {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

.main__menu li::after {
  margin: 0px 20px 0px 20px;
  content: '/';
  height: 15px;
  opacity: 0.3;
  color: #91919f;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
}

.main__menu li:last-child::after {
  content: '';
}

.content {
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0 20px 10px -10px #f0f0f0;
          box-shadow: inset 0 20px 10px -10px #f0f0f0;
  padding: 20px 0px 0px 0px;
}

.content__flex-colomn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__left-colomn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  background-color: #ffffff;
}

.content__middle-colomn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.content__right-colomn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.right-colomn__ad {
  width: 100%;
}

.right-colomn__ad:first-child {
  margin: 0px 0px 20px 0px;
}

.left__title {
  padding: 0px 0px 0px 18px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: -0.4px;
  border-bottom: 1px solid #e5e5e5;
  padding: 22px 0px 19px 18px;
}

.left__item {
  padding: 20px 0px 0px 16px;
}

.left__text {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.35px;
  padding: 0px 0px 11px 0px;
}

.left__props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  opacity: 0.8;
  color: #91919f;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: -0.24px;
}

.left__time-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.left__time {
  padding: 0px 0px 0px 16px;
  background: url("/img/Новости дня/clock.png") 0px 2px no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.left__comments {
  padding: 0px 0px 0px 16px;
  background: url("/img/Новости дня/comments.png") 0px 2px no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.left__button {
  text-align: center;
}

.left__button .left__click {
  margin: 38px 0px 25px 0px;
  width: 177px;
  height: 45px;
  border-radius: 23px;
  border: 1px solid #448ccb;
}

.middle__section {
  background: url("/img/центр/layer-2.png") center/100% 100% no-repeat, url("/img/центр/castle.png") center/100% 100% no-repeat;
}

.middle__container {
  padding: 0 18px;
}

.middle__link {
  padding: 87px 0px 0px 0px;
}

.middle__link a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.24px;
}

.middle__title {
  padding: 18px 94px 14px 0px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.6px;
}

.middle__date-time {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.24px;
  padding: 0px 0px 33px 0px;
}

.middle__date {
  display: inline-block;
  padding: 0px 20px 0px 0px;
}

.middle__time {
  display: inline-block;
}

.middle__time::before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url("/img/центр/clock-white.png") center/100% 100% no-repeat;
  margin: 0px 5px 0px 0px;
}

.midde__flex {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.midde__flex img {
  width: 100%;
}

.middle__colomn1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.middle__colomn2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.middle__img {
  margin: 0px 0px 9px 0px;
}

.middle__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.28px;
  font-family: "Arial - Bold MT";
  margin: 0px 0px 0px 0px;
}

.middle__props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.middle__links {
  opacity: 0.8;
  color: #91919f;
  font-family: "Arial MT";
  font-size: 12px;
  line-height: 30px;
  letter-spacing: -0.24px;
}

.middle__props-time {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.middle__props-time::before {
  content: '';
  display: inline-block;
  margin: 0px 5px 0px 0px;
  width: 11px;
  height: 11px;
  background: url("/img/центр/clock.png") 0px 0px no-repeat;
}

.middle__props-comments {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
}

.middle__props-comments::before {
  content: '';
  display: inline-block;
  margin: 0px 5px 0px 0px;
  width: 11px;
  height: 11px;
  background: url("/img/центр/comments.png") 0px 0px no-repeat;
}
